.cores_texto {

	color: #000000;
	background-color: #3ff457;
	margin: 0px;

}
.cor_link{
	color: #41FF1F;
;

}
	
.cor_do_cabecalho {
	color: #00ff00;
	background-color: #000000;
	z-index: +2
}

div{
	/*propriedade;valor;*/
	border:none;
	margin: 0px;
	width: 100%;

}

/*.imagens{
	border: 2px solid black;
	padding: 3px;
	width: 20%;

}
achei desnecessário repetir o .imagens*/

img{
	float: left;
	position: relative;
	z-index: 1
}

.imagens{
	border: 2px solid black;
	padding: 3px;
	width: 20%;
	display: inline-block;
	float: left;

}

main{
	border: none;
	padding: 0px;
	width: 100%;
	height: 100%;
}

.menu-item {
	padding: 0.5rem;
	position: relative;
	transition: color .5s, background-color .5s;
}

.menu-item:hover {
	color: #EA8C00;
	background-color: #000000;
	cursor: pointer;
}

.menu-item:hover .submenu {
	visibility: visible;
	color:#41FF1F ;
}

.menuitem{
	border: 2px solid black;
	padding: 10px;
	width: 15%;
	display: inline-block;
	float: left;
}

section {
<<<<<<< HEAD
	/*max-width: 1000px;*/
	margin: 1em;
	padding: 1rem;
	font: sans-serif;
	/*position: relative;*/
=======
	margin: 0px;
	position: relative;
	color: #000000;
	background-color: #3ff457;
	
>>>>>>> d0512b052e8d46ec58ffd56ec16b0332a9ff4762
}

.submenu {
	visibility: hidden;
	background-color: #000000;
	position: absolute;
	top: 100%;
	left: 
	0;
}

footer{
	border: 0px solid black;
	position: absolute;
	
}
